
/*------------------------------------*\
          VARIABLES AND IMPORTS
\*------------------------------------*/
@import url('fonts.css') all;
@import url('hamburgers.css') all;

:root {
    --base-size:              10px;
    --base-font-size:         14px;
    --base-line-height:       1.4;
    --base-color:           #231f20;
    --base-transition-delay:  0.3s;
  
    --font-primary:           'Nimbus Sans L';
    --font-secondary:         'Calluna'; 
    
    --color-primary:        #c61b21;
    --color-secondary:      #878787;
  }
/*------------------------------------*\
                 GLOBAL
\*------------------------------------*/
html {
    font-size: var(--base-size);
}

body {
    font-size: var(--base-font-size);
}

body {
    margin: 0;
    padding: 0;
    background: #fefefe;
}

html,
body {
  height: 100%;
  color: var(--base-color);
  font-family: var(--font-primary);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

h1 {
    font-size: 4.2rem;
}

h2 {
font-size: 4rem;
}

h3 {
font-size: 2rem;
}
a {
    color: var(--color-primary);
    transition: var(--base-transition-delay);
    text-decoration: none;
}
a:hover {
    color: var(--base-color);
}

.ovw-hidden {
    position: relative;
    overflow: hidden;
}

li {
    list-style: none;
}
@media (max-width: 768px) {
    h1 {
      font-size: 2.8rem;
    }
  
    h2 {
      font-size: 2.4rem;
    }
  
    h3 {
      font-size: 1.8rem;
    }
}

/*------------------------------------*\
                   PAGE
\*------------------------------------*/
.page {
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

/*------------------------------------*\
                  HEADER
\*------------------------------------*/
.header {
    padding-top: 2rem;

}
.header__cart a {
    position: relative;
}

.header__cart i {
    position: absolute;
    width: 2rem;
    height: 2.6rem;
    top: 50%;
    left: -3rem;
    margin-top: -1.6rem;
    background-image: url('../images/bag.svg');
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: .1rem solid var(--base-color);
}
  
.header__nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-bottom: .2rem solid var(--base-color);
}

.header__logo a:active {
    position: relative;
    top: 1px;
}

.header__nav {
    font-family: var(--font-secondary);
    font-weight: bold;
}

.header__nav-ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    line-height: 5rem;
    margin-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
}

.header__nav-item {
    padding-left: 1rem;
    padding-right: 1rem;

}

.header__nav-link {
    color: var(--base-color);
}

.header__nav-link:hover {
    color: var(--color-primary);
}

.header__nav-mobile {
    display: none;
    text-align: center;
}

.header__nav-cart h5 {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.3rem;
    margin-bottom: .5rem;
    display: inline-block;
    border-bottom: 1px solid #000;
}

.header__nav-logo {
    background-image: url('../images/owl.png');
    width: 3rem;
    height: 3.3rem;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.header__nav-close {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-image: url('../images/close.svg');
    background-size: cover;
}

@media (max-width: 1180px) {
    .header__nav-item {
      font-size: 1.2rem;
      padding-left: 0.9rem;
      padding-right: 0.9rem;
    }
}

@media (max-width: 1000px) {
    .header__nav {
      display: none;
      position: absolute;
      top: 0;
      left: -105%;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, .4);
      z-index: 999;
      transition: var(--base-transition-delay);
  }
   .header__nav.show {
    left: 0;
  }

  .header__nav-wrapper {
    position: relative;
    background-color: #fff;
    height: 100%;
    padding-top: 1rem;
  }
  
  .header__nav-ul {
    display: block;
    text-align: center;
    line-height: 2.4rem;
    margin-top: 2rem;
  }

  .header__nav-mobile {
    display: block;
  }
}

@media (max-width: 768px) {
    .header {
      padding-top: 1rem;
      font-size: 1.2rem;
    }
  
    .header__nav-bar {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  
    .header__top {
      padding-bottom: 1rem;
    }
  
    .header__logo {
      width: 80px;
    }
  
    .hamburger-box {
      width: 2rem;
      height: 1.2rem;
    }
  
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 2rem;
      height: 0.2rem;
    }
  
    .hamburger--slider .hamburger-inner::before {
      top: .5rem;
    }
  
    .hamburger--slider .hamburger-inner::after {
      top: 1rem;
    }
}

/*------------------------------------*\
                 SECTION
\*------------------------------------*/
.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid var(--base-color);
}

.section_no-border {
    border-bottom: 0;
}

    .section__title {
    position: relative;
    padding-left: 4.5rem;
}

.section__title i {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 0;
    margin-top: -1.5rem;
    background-size: cover;
}

.section__content h4 {
    font-size: 1.8rem;
}

@media (max-width: 768px) {
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
}
  
  
/*------------------------------------*\
                HEADING
\*------------------------------------*/
.heading {
    height: 40vh;
    position: relative;
    max-height: 50rem;
    min-height: 35rem;
    background-size: cover;
    background-position: top;
}

.heading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.heading_no-text::before {
    display: none;
}
  
.heading_size_s {
    max-height: 20rem;
    min-height: 15rem;
}
  
.heading__text {
    position: absolute;
    top: 50%;
    left: 50px;
    color: #fff;
    max-width: 24rem;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .heading {
      min-height: 25rem;
    }
  
    .heading__text {
      left: 0;
      width: 100%;
      max-width: none;
      text-align: center;
    }
}

/*------------------------------------*\
               CATEGORY
\*------------------------------------*/
.category{
    display: flex;
}
.category__item {
    position: relative;
    display: flex;
}

.category__icon {
    position: absolute;
    left: 1rem;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-image: url('../images/icon-denim.png');
}

.category__info {
    position: relative;
    padding-left: 15%;
    flex-basis: 43%;
    max-width: 43%;
}
  
.category__image {
    flex-basis: 40%;
    max-width: 40%;
}
 
.category__image img{
    max-width: 100%;
    height: auto;
}

.category__title {
    margin-top: 1rem;
}

@media (max-width: 1000px) {
    .category__item {
      flex-wrap: wrap;
    }
  
    .category__info,
    .category__image {
      flex-basis: 100%;
      max-width: 97%;
    }
    
    .category__image {
      order: -1;
    }
  
    .category__info {
      padding-left: 3rem;
    }
  
    .category__icon {
      left: 0;
      top: 1rem;
      width: 2.5rem;
      height: 2.5rem;
    }
}
  
@media (max-width: 639px) {
    .category {
      flex-direction: column;
    }
    .category .category__block{
      margin-top: 1rem;
    }
    .category .category__block:first-child {
      margin-top: 0;
    }
}

/*------------------------------------*\
                  VIDEO
\*------------------------------------*/
.video {
    position: relative;
    padding-top: 56.25%;
  }
  
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*------------------------------------*\
                 FOOTER
\*------------------------------------*/
.footer {
    border-top: 1px solid var(--base-color);
  }
  
  .footer__subscribe {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
  }
  
  .footer__subscribe-title {
    margin-left: 1%;
  }
  
  .footer__subscribe-title h3 {
    position: relative;
    padding-left: 6rem;
  }
  
  .footer__subscribe-title i {
    position: absolute;
    width: 4.2rem;
    height: 4.2rem;
    top: 50%;
    left: 0;
    margin-top: -2.1rem;
    background-image: url('../images/icon-inspire.png');
    background-size: cover;
  }

/*------------------------------------*\
                SUBSCRIBE
\*------------------------------------*/
.subscribe__inputs {
    display: flex;
    align-items: center;
}
  
.subscribe__inputs input {
    font-family: var(--font-secondary);
    width: 35.4rem;
    height: 3.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 35px;
    border: .1rem solid lightgrey;
    outline: none;
    transition: var(--base-transition-delay);
}
  
.subscribe__inputs input:focus {
    border-color: var(--color-primary);
}
  
.subscribe__btn {
    margin-left: 1rem;
}
  
  
.subcribe__text {
    font-family: var(--font-secondary);
    margin-top: 1.5rem;
    font-size: 1.6rem;
}
  
@media (max-width: 768px) {
    .subscribe__inputs {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .subscribe__btn {
      margin-left: 0;
      margin-top: 1rem;
    }
  
    .subscribe__inputs input {
      width: 80%;
      max-width: 300px;
    }
}

/*------------------------------------*\
                 FOOTER
\*------------------------------------*/
.footer__nav-bar {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.footer__logo {
    width: 4.2rem;
    height: 4.6rem;
    margin-left: 1%;
    background-image: url('../images/owl.png');
    background-size: cover;
}

.footer__nav {
    display: flex;
    flex-grow: 1;
    margin-left: .8rem;
}

.footer__nav-ul {
    flex-basis: 25.2%;
    max-width: 25.2%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    border-left: 1px solid var(--color-secondary);
}

.footer__nav-ul:first-child {
    border-left: 0;
}

.footer__nav-ul li {
    margin-top: 5px;
}

.footer__nav-ul a {
    color: var(--color-secondary);
}

.footer__nav-ul a:hover {
    color: var(--color-primary);
}

.footer__copy-bar {
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-secondary);
}

@media (max-width: 1000px) {
    .footer__nav-ul {
      flex-basis: 33%;
      max-width: 33%;
    }
  }
  
@media (max-width: 768px) {
.footer__subscribe {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}  
.footer__subscribe-form {
    flex-basis: 100%;
    max-width: 100%;
}
}

@media (max-width: 650px) {
.footer__logo {
    display: none;
}

.footer__nav {
    display: block;
    text-align: center;
}

.footer__nav-ul {
    max-width: 100%;
    flex-basis: 100%;
    border-left: 0;
    padding-left: 0;
    font-size: 1rem;
}

.footer__copy-bar {
    text-align: center;
}
}


/*------------------------------------*\
                  BLOG
\*------------------------------------*/
.blog {
    display: flex;
    flex-wrap: wrap;
    max-width: 140rem;
    margin-right: auto;
    margin-left: auto;
}

.blog__text {
    padding-left: 5rem;
}

.main__blog {
    margin-bottom: 2rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
  
.blog__video {
    position: relative;
    padding-bottom: 76%;
    margin-right: .7145rem;
    margin-left: .7145rem;
}
  
.blog__video > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.blog__text h3 {
    position: relative;
    margin-bottom: 0;
}
  
.blog__text h3 i {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: -4.5rem;
    transform: translateY(-50%);
    background-image: url('../images/icon-inspire.png');
    background-size: cover;
}
  
.blog__text p {
    margin-top: 1rem;
}

@media (max-width: 650px) {

.main__blog {
    margin-bottom: 2rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

}

/*------------------------------------*\
              NAVIGATION
\*------------------------------------*/
.navigation {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: var(--font-secondary);
    font-size: 1.6rem;
    text-align: center;
  }
  
  .navigation ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    justify-content: center;
  }
  
  .navigation li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .navigation a.disabled {
    color: var(--color-secondary);
    cursor: default;
  }
/*------------------------------------*\
                BUTTONS
\*------------------------------------*/
.btn {
    font-family: var(--font-secondary);
    background-color: var(--color-primary);
    color: #fff;    
    height: 3.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    border-radius: 0;
    border: none;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: var(--base-transition-delay);
}
  
.btn:hover {
    background-color: var(--base-color);
}
  
.btn_secondary {
    background-color: transparent;
    border: 1px solid var(--base-color);
    color: var(--base-color);
}
  
.btn_secondary:hover {
    color: #fff;
}
  
/*------------------------------------*\
              MOBILE MENU
\*------------------------------------*/
.hamburger {
    display: none;
  }
  
  @media (max-width: 1000px) {
    .hamburger {
      display: block;
    }
  }
  

/*------------------------------------*\
               CONTACTS
\*------------------------------------*/
.section__contacts {
    border-bottom: 0;
}
.contacts {
    display: flex;
    justify-content: space-between;
}
.contacts__all {
    width: 50%;
    margin-right: 16%;
}
.contacts__all h4 {
    font-size: 1.8rem;
}

@media (max-width: 650px) {
.contacts__all {
    width: 100%;
    margin-right: 0%;
}
.contacts {
    flex-direction: column;
}
}

/*------------------------------------*\
                 CART
\*------------------------------------*/
.table {
    margin-top: 2rem;
    width: 100%;
}
  
.cart table th {
    text-align: left;
}
  
.cart input {
    max-width: 100px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
  
.cart-price {
    text-align: right;
    line-height: 1.7;
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
.cart__buttons {
    text-align: right;
    margin-top: 2rem;
}
.cart-descr {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.flex-descr {
    width: 50%;
}
@media (max-width: 600px) {
    .cart table {
      font-size: 1.2rem;
    }
  
    .cart input {
      max-width: 50px;
    }
}

/*------------------------------------*\
              FIT-GUIDE
\*------------------------------------*/
.guide {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;
}
.guide__block{
    width: 50%;
    height: auto;
} 
.guide__img {
    width: 100%;
    height: auto;
    
}
.guide__img img{
    width: 98%;
    height: auto;
    
}
@media (max-width: 600px) {
    .guide__block{
        width: 100%;
        height: auto;
    } 
    .guide__img {
        width: 100%;
        height: auto;
        
    }
    .guide__img img{
        width: 100%;
        height: auto;
        
    }
    .guide {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0rem;
    }
}

/*------------------------------------*\
                 LOGIN
\*------------------------------------*/
.section__login {
    border-bottom: 0;
}
.login {
    display: flex;
    margin-bottom: 3rem;
}
.form {
    width: 50%;
}

.login__title {
    font-size: 2.8em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
.form label {
    display: block;
    margin-bottom: 3rem;
    color: var(--color-secondary);
}
  
.form input {
    display: block;
    width: 100%;
    max-width: 30rem;
    outline: none;
    border: 0;
    height: 4rem;
    font-size: 1.8rem;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
  
.form input:focus {
    border-bottom-style: dashed;
}
  
.login__link {
    margin-top: 3rem;
}

@media (max-width: 600px) { 
    .login {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }
}

/*------------------------------------*\
    PRODUCT
\*------------------------------------*/
.section-mens {
    border-bottom: 0;
    padding-top: 1rem;
}
.mens-first {
    padding-top: 0rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--base-color);
}
.mens-second {
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--base-color);
}
.mens__title {
   display: flex;
}
.mens__title-name {
    position: relative;
    flex-basis: 26rem;
    max-width: 20rem;
    padding-left: 6rem;
} 
.mens__title-name i {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    background-image: url(../images/icon-denim.png);
    background-size: cover;
}
.mens__title-descr {
    font-family: var(--font-secondary);
    color: var(--color-secondary);
    font-style: italic;
    max-width: 45rem;
    padding-top: 1rem;
}
.img__block {
    cursor: pointer;
}
.mens__wrapper {
    padding-left: 1rem;
}
.mens__style{
    font-size: 1.9rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--base-color);
}
.mens__model {
    color: var(--color-secondary);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.mens__descr {
    color: var(--color-secondary);
}
  
.mens__price {
    font-weight: bold;
    margin-top: 0.5rem;
}
 
.mens__block{
    display: flex;
}
.mens__img img{
    max-width: 100%;
    height: auto;
}
@media (max-width: 850px) {
.mens__block {
    flex-wrap: wrap;
}
.img__block {
    flex-basis: 50%;
    max-width: 50%;
    margin-top: 1rem;
}
}

/*------------------------------------*\
               STORY
\*------------------------------------*/
.main__story {
    margin-bottom: 2rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 33%;
}

@media (max-width: 850px){
.main__story {
    max-width: 50%;
}
}

@media (max-width: 600px) { 
.main__story {
    max-width: 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
}

/*------------------------------------*\
                 PRODUCT-V1
\*------------------------------------*/

.product-ul {
   display: flex;
   margin: 0;
   padding: 0;
   margin-top: 3rem;
}
.product-ul li {
    padding-right: .4rem;
}

.product {
    display: flex;
}
.product__text {
    padding-right: .7145rem;
    padding-left: .7145rem;
}
.product__title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 2.6rem;
  }
  
  .product__model {
    font-size: 1.8rem;
    font-family: var(--font-secondary);
  }
  
  .product__price {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .product__text-all {
    font-size: 1.3rem;
  }
  
  .product__sizes select {
    height: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .product__hint {
    margin-top: 1rem;
  }
.gallery {
    width: 57%;
}
.gallery img{
   max-width: 100%;
   height: auto;
}
 
/*------------------------------------*\
                 PRODUCT-V2
\*------------------------------------*/
.product-gallery{
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    padding-right: .7145rem;
    padding-left: .7145rem;
}
.product__border {
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
    padding-top: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}
.product__border select {
    height: 3rem;
    margin-bottom: 0.5rem;
}
.product__text-li {
    list-style: disc;    
}
.product__text-li {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}


.section-table{
    border-bottom: 0;
}
.table__title {
    padding-left: 6rem;
}
.table__title h3 {
    position: relative;
    margin-bottom: 0;
}
.table__title h3 i {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: -4.5rem;
    transform: translateY(-50%);
    background-size: cover;
}
.table__title-descr {
    max-width: 50rem;
    font-size: 1.3rem;
}
.table-main {
    margin-top: 2rem;
}
.table-main table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table-main table th {
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-secondary);
}
.table-main table td{
    padding: .5rem;
    padding-top: .8rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid var(--color-secondary);
    transition: var(--base-transition-delay);
}
.table-main table tr:hover td{
    cursor: pointer;
    color: #fff;
    border-bottom: 1px solid var(--color-secondary);
    transition: var(--base-transition-delay);
    background-color: var(--color-secondary);
}

.section-guide {
    padding-bottom: .5rem;
}
.product__guide {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0rem;
    justify-content: space-around;
}
.product__guide__block {
    width: 24%;
    height: auto;
    margin-top: 2rem;
}
.product__guide__descr {
    font-size: 1.3rem;
}

@media (max-width: 850px){
    .product__guide__block {
        width: 50%;
        height: auto;
        margin-top: 2rem;
    }
}
    
@media (max-width: 600px) { 
    .product {
        display: flex;
        flex-direction: column;
    }
    .product-gallery{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product__guide__block {
        width: 100%;
        height: auto;
        margin-top: 2rem;
    }
}
.no-border{
    border-bottom: 0;
    padding-bottom: .5rem;
}
.product__main__story {
    margin-bottom: 2rem;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
@media (max-width: 600px) { 
    .product__main__story {
        margin-bottom: 2rem;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*------------------------------------*\
    SLICK SLIDER
\*------------------------------------*/
.slick-prev,
.slick-next {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
  z-index: 10;
  outline: none;
  cursor: pointer;
  top: 30%;
  margin-top: -1.5rem;
}

.slick-prev::after,
.slick-next::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 19px;
  background-size: cover;
  top: 5px;
}

.slick-prev {
  left: 1rem;
}

.slick-prev::after {
  background-image: url('../images/left.svg');
  left: .8rem;
}

.slick-next::after {
  background-image: url('../images/right.svg');
  right: .8rem;
}

.slick-next {
  right: 1rem;
}

.slick-dots {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 0;
}

.slick-dots li {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.slick-dots button {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--color-secondary);
}

.slick-active button {
  background-color: var(--base-color);
}

.slick-dots {
  margin-top: 1rem;
}

